Flask==3.0.3
python-dotenv==1.0.1
requests==2.32.3
Werkzeug==3.0.3
python-telegram-bot==21.6
openai==1.68.2
fpdf2==2.7.9
Pillow==11.1.0
beautifulsoup4==4.12.3
lxml==5.3.0
neonize==0.5.2
websockets==12.0